.list-user-container {

    .list-user-content {
        .child {
            color: rgb(120, 216, 210);
            width: 400px;
            margin: 0 auto;
            height: 40px;
            border: 1px solid grey;
        }
    }

}